<%= form_for [:admin, @badge], local: true do |form| %>
  <div class="row m-3">
    <div class="col-12">
      <h2> Create new badge:</h2>
    </div>
    <div class="col-12 mt-3">
      <p><%= form.label :name %><br>
        <%= form.text_field :name %></p>
    </div>
    <div class="col-12">
      <p> Image: </p>
      <%= form.radio_button :image, 'gold' %> Golden Medal <br>
      <%= form.radio_button :image, 'silver' %> Silver Medal <br>
      <%= form.radio_button :image, 'bronze' %> Bronze Medal
    </div>
    <div class="col-12 mt-3">
      <p> Badge for </p>
      <%= radio_button_tag :parameter_type, 'Single test', checked = true, {class: 'badge-for', data: {parameter: 'single'}} %>
      Single test <br>
      <%= radio_button_tag :parameter_type, 'Success from N attempts', checked = false, {class: 'badge-for', data: {parameter: 'attempt'}} %>
      Success
      from N attempts <br>
      <%= radio_button_tag :parameter_type, 'All test of certain category', checked = false, {class: 'badge-for', data: {parameter: 'category'}} %>
      All test of certain category<br>
      <%= radio_button_tag :parameter_type, 'All test of certain level', checked = false, {class: 'badge-for', data: {parameter: 'level'}} %>
      All test of certain level
    </div>
    <div class="choosing-parameter">
      <div class="col-6 mt-3 choose-parameter" data-parameter-type="single">
        <%= form.label :parameter, 'Test:' %><br>
        <%= form.collection_select :parameter, Test.all, :title, :title %>
      </div>
      <div class="col-6 mt-3 choose-parameter hide" data-parameter-type="category">
        <%= form.label :parameter, 'Category' %><br>
        <%= form.collection_select :parameter, Category.all, :title, :title %>
      </div>
      <div class="col-6 mt-3 choose-parameter hide" data-parameter-type="level">
        <%= form.label :parameter, 'Level:' %><br>
        <%= form.collection_select :parameter, Test.all.select(:level).distinct(:level).order(:level), :level, :level %>
      </div>
      <div class="col-6 mt-3 choose-parameter hide" data-parameter-type="attempt">
        <%= form.label :parameter, 'Attempts:' %><br>
        <%= form.number_field :parameter %>
      </div>
    </div>
    <div class="col-12 mt-3">
      <%= form.submit class: "btn btn-primary mt-3" %>
    </div>
  </div>

<% end %>