<%= form_for [:admin, @badge], local: true do |form| %>
  <div class="row m-3">
    <div class="col-12 mt-3">
      <p><%= form.label :name %><br>
        <%= form.text_field :name %></p>
    </div>
    <div class="col-12">
      <%= form.label :image %> <br>
      <%= form.radio_button :image, 'gold' %> <%= t('.golden') %> <br>
      <%= form.radio_button :image, 'silver' %> <%= t('.silver') %> <br>
      <%= form.radio_button :image, 'bronze' %> <%= t('.bronze') %>
    </div>
    <div class="col-12 mt-3">
        <%= form.label :rule, t('.badge_for') %><br>
        <%= form.collection_select(:rule, rules_lib, :first, :last) %>
    </div>
    <div class="choosing-parameter">
      <div class="col-6 mt-3 check_test parameter" data-parameter-type="single">
        <%= form.label :rule_value, t('.test_title') %>
        <%= form.collection_select :rule_value, Test.all, :title, :title %>
      </div>
      <div class="col-6 mt-3 check_category parameter" data-parameter-type="category">
        <%= form.label :rule_value, t('.category') %><br>
        <%= form.collection_select :rule_value, Category.all, :id, :title %>
      </div>
      <div class="col-6 mt-3 check_level parameter" data-parameter-type="level">
        <%= form.label :rule_value, t('.level') %><br>
        <%= form.collection_select :rule_value, Test.all.select(:level).distinct(:level).order(:level), :level, :level %>
      </div>
      <div class="col-6 mt-3 check_attempt parameter" data-parameter-type="attempt">
        <%= form.label :rule_value, t('.attempts_quantity') %><br>
        <%= form.number_field :rule_value %>
      </div>
    </div>
    <div class="col-12 mt-3">
      <%= form.submit t('.submit'), class: "btn btn-primary mt-3" %>
    </div>
  </div>

<% end %>