<!DOCTYPE html>
<html>
<head>
  <title>TestGuru</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: darkcyan;
      color: white;
      text-align: center;
    }
  </style>
</head>

<body>
<%= render 'shared/nav' %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
